<p>If you’d like to talk to us about how you are transforming your health services with data in your context, then do contact us.</p>

<ul class="header-contacts">
    <li>
        <p class="header-contact__name">Gary Leeming — CTO</p>
        <ul class="header-contact__methods">
            <li><a href="https://www.linkedin.com/in/gary-leeming-43011411/"">LinkedIn</a></li>
            <li><a href="http://www.twitter.com">Twitter</a></li>
        </ul>
    </li>
    <li>
        <p class="header-contact__name">Prof. John Ainsworth — Director</p>
        <p class="header-contact__role">Professor of Informatics</p>
        <ul class="header-contact__methods">
            <li><a href="mailto:"">Email</a></li>
        </ul>
    </li>

    <li>
        <p class="header-contact__name">Connected Health Cities</p>
        <ul class="header-contact__methods">
            <li><a href="http://www.twtiiter.com/CHCNorth">@CHCNorth</a></li>
        </ul>
        <p>Tel: +44 7880 652 950</p>
    </li>
</ul>

