@import './vendor/sanitize.scss';

@function to_rem($pixel_size) {
    @return 0rem + $pixel_size / 16;
}

$transition-time: 0.1s;

$desktop-breakpoint: 1140px;
$max-mobile-width: $desktop-breakpoint - 1px;
$mobile-margin: 21;

@mixin mobile-view {
    @media screen and (max-width: $max-mobile-width) {
        @content;
    }
}

body {
    font-family: 'Poppins', sans-serif;
    font-size: to_rem(22);
    line-height: 159%;
    color: #3F2B4E;
    background-color: #fff;

    ul {
        margin: 0;
        padding: 0;
        list-style: none;
    }

    a { 
        text-decoration: none;
    }
}

%left-hand-side {
    width: to_rem(588);
    margin-right: to_rem(141);
    order: 10;
    flex: none;

    @include mobile-view() {
        margin: 0;
        width: initial; // calc(100% - #{to_rem($total-margin)});
    }
}

%right-hand-side {
    width: to_rem(466);
    order: 11;

    @include mobile-view() {
        margin: 0;
        width: initial; // calc(100% - #{to_rem($total-margin)});
    }
}

.wrapper {
    $design_size: 1440;
    $design_padding: 122;
    $actual_width: $design-size - ($design-padding * 2);

    width: to_rem($actual_width);
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    padding: 0;

    .left-hand-side {
        @extend %left-hand-side;
    }

    .right-hand-side {
        @extend %right-hand-side;
    }

    @include mobile-view {
        width: 100%;
        display: block;
        padding: 0 to_rem($mobile-margin);

    }
}

p {
    margin: 0 0 to_rem(15);
}


#main-content {
    .home &,
    .article-continuation {
        padding: to_rem(64) 0;

        @include mobile-view() {
            padding: to_rem(38) 0;
        }
    }

    .article-continuation {
        @include mobile-view() {
            padding: 0 0 to_rem(81);
        }
    }

    .default & {
        margin-bottom: to_rem(68);
    }

    h1 {
        display: inline-block;
        font-weight: 600;
        font-size: to_rem(50);
        line-height: 130%;
        color: #1D71B8;
        margin: 0 0 to_rem(39);

        .default & {
            margin-top: to_rem(47);
        }
    
        @include mobile-view() {
            font-size: to_rem(27.7211);
            margin-bottom: to_rem(23);
        }

        &::after {
            content: '';
            margin-top: to_rem(16);
            display: block;
            height: to_rem(10);
            width: 100%;
            background-color: #ea4c84;

            @include mobile-view() {
                height: to_rem(5.08);
                margin-top: to_rem(9.46);
            }
        }
    }

    h2 {
        margin: 0;
        font-weight: 600;
        font-size: to_rem(24);
        line-height: 146%;
        color: #1D71B8;

        @include mobile-view() {
            font-size: to_rem(13.3061);
        }
    }

    .left-hand-side {
        p {
            margin: 0 0 to_rem(15);
            font-size: to_rem(22);
            line-height: 159%;

            @include mobile-view() {
                font-size: to_rem(12.1973);
            }


            .home &:first-of-type {
                font-weight: 600;
                font-size: to_rem(28);
                line-height: 143%;

                @include mobile-view() {
                    font-size: to_rem(15.5238);
                }
            }

            &:last-child {
                margin-bottom: 0;
            }
        }
    }

    .right-hand-side.homepage-sidebar {

        @include mobile-view() {
            display: none;
        }

        img {
            border-bottom: 70px solid #ea4c84;
            margin-bottom: to_rem(43);
            display: block;
            width: 100%;
        }

        p {
            color: #811C34;
            font-style: italic;
            font-weight: 500;
            font-size: to_rem(32);
            line-height: 156%;
        }
    }

    .sidebar {
        @include mobile-view() {
            display:none;
        }

        .sidebar__image  img {       
            width: 100%;
            display: block;
        }
        .sidebar__caption {
            display: block;
            background-color: #00A2AD;
            color: #fff;
            margin: 0;
            padding: to_rem(16.8) to_rem(13) to_rem(18.77);
            font-size: to_rem(18);
            line-height: 194%;
        }
    }


    .resources {
        margin-bottom: to_rem(37);
        li {
            border: 3px solid #00a2ad;
            padding: to_rem(12) to_rem(9) to_rem(9) to_rem(32);
            
            a {
                display: flex;
                align-items: center;
                font-weight: 600;
                font-size: 22px;
                line-height: percentage(32/22);
                color: #000;

                &::before {
                    content: '';
                    display: block;
                    background-image: url('../images/pdf.svg');
                    width: 47px;
                    height: 76px;
                    margin-right: to_rem(39);
                    flex: none;
                }
                
            }
        }
    }

    .section-menu {

        margin-top: to_rem(151);

        &::after {
            content: '';
            display: block;
            width: 100%;            
            height: 3px;
            background: #00A2AD;
            margin-top: to_rem(41);
        }

        &__heading { 
            color: #1D71B8;
            font-weight: 600;
            font-size: to_rem(38);
            line-height: percentage(40/38);
            margin-bottom: to_rem(15);
        }

        ul li {

            margin-bottom: to_rem(15);
            &:last-child {
                margin-bottom: 0;
            }

            a {
                font-weight: 500;
                font-size: to_rem(24);
                line-height: percentage(30/24);

                &.active {
                    font-weight: bold;
                }               
            }

            ul {
                margin: to_rem(16) 0 to_rem(20) to_rem(49);
                
                a {
                    font-size: to_rem(20);
                    line-height: percentage(30/20);
                }
            }
        }
    }
}

$intro-mobile-space-top: to_rem(33);
$intro-mobile-space-bottom: to_rem(26);

@mixin intro-box {
    background-color: #00A2AD;
    color: #fff;
    padding: to_rem(45) 0 to_rem(65);
    box-shadow: 0 0 to_rem(60) rgba(0, 0, 0, 0.25);
    position: relative;
    z-index: 900;

    @include mobile-view() {
        padding: $intro-mobile-space-top 0 $intro-mobile-space-bottom;
    } 
}

%intro {
    @include intro-box();

    a { 
        color: #fff;
        text-decoration: none;
    }
    
    h1 {
        color: #fff;
        display: inline-block;
        font-size: to_rem(74);
        font-weight: 600;
        line-height: 95%;
        font-feature-settings: 'ss01' on;
        
        margin: 0 0 to_rem(22);
        
        @include mobile-view() {
            font-size: to_rem(46.2767);
            margin-bottom: to_rem(12.87);
        }


        &::after {
            content: '';
            height: to_rem(10);
            width: 100%;
            display: block;
            background-color: #1C63A7;
            margin-top: to_rem(21);

            @include mobile-view() {
                height: to_rem(6.25);
                margin-top: to_rem(16.32);
            }
        }

        
    }

    p {
        margin-top: 0;
        margin-bottom: to_rem(15);
        font-size: to_rem(22);
        line-height: 159%;      

        @include mobile-view() {
            font-size: to_rem(14);
            line-height: 139%;    
            margin-bottom: to_rem(8.31); 
        }

        &:first-of-type {
            font-weight: bold;
            font-size: to_rem(28);
            line-height: 143%;

            @include mobile-view() {
                font-size: to_rem(15.5194);
            }
        }

        &:last-of-type {
            margin-bottom: 0;
        }
    }
}

#intro {
    @extend %intro;

    .homepage-intro {
        background-color: rgba(255, 255, 255, 0.2);
        width: 100%;
        height: 100%;
        padding: to_rem(14) to_rem(20);
        list-style: none;
        margin: 0;

        h3 {
            margin: 0 to_rem(5) to_rem(23);
            text-transform: uppercase;
            font-weight: 600;
            font-size: to_rem(24);
            line-height: 146%;
            color: #1C63A7;
        }

        li {
            padding: 0;
            margin: 0;
            margin-bottom: 45px;

            p {
                font-weight: 600;
                font-size: to_rem(52);
                line-height: 67%;
                margin-bottom: to_rem(15);

                &:last-of-type {
                    margin-bottom: 0;
                }
            }

            

            &::after {
                content: '';
                background-color: #fff;
                width: 365px;
                height: 10px;
                display: block;
                margin-top: 35px;
            }

            .homepage-intro__number::before {
                content: '#';
                font-size: to_rem(38);
                
            }
            

            &:nth-of-type(1) {
                &::after {
                    background-color: #AD2B51;
                }
                .homepage-intro__number {
                    color: #AD2B51;
                }
            }

            &:nth-of-type(2) {
                &::after {
                    background-color: #E83274;
                }
                .homepage-intro__number {
                    color: #E83274;
                }
            }
            
            &:nth-of-type(3) {
                &::after {
                    background-color: #184E96;
                }
                .homepage-intro__number {
                    color: #184E96;
                }
            }

        }

        @include mobile-view {
            display: none;
        }
    }
}

.section-home #intro-wrapper {
    @extend %intro;

    h1 {
        color: #fff !important;
        @include mobile-view() {
            color: #1D71B8 !important;

            &::after {
                background-color: #1D71B8;
            }
        }
    }

    @include mobile-view() {
        background-color: transparent;
        color: #000;
        position: unset;
        box-shadow: unset;
        padding: 0;

        .wrapper {
            padding: 0;

            & > * {
                padding-left: to_rem($mobile-margin);
                padding-right: to_rem($mobile-margin);
            }
        }
    }

    
    .intro {
        @extend %left-hand-side;
        order: 1;

        @include mobile-view() {
            padding-top: to_rem(29)
        }

        p:last-of-type {
            margin-bottom: to_rem(8.31); 
        }
    }

    .section-menu { 
        @extend %right-hand-side;
        order: 2;
    
        @include mobile-view() {
            @include intro-box();
        }

        @include mobile-view() {
            padding: $intro-mobile-space-top to_rem($mobile-margin) to_rem(37);
        }

        .section-menu__heading {
            margin-bottom: to_rem(18) !important;
            font-weight: 600;
            font-size: to_rem(38);
            line-height: 105%;
            @include mobile-view() {
                margin-bottom: to_rem(14) !important;
                line-height: 115%;
            }
        }
    
        li {
            font-weight: 500;
            font-size: to_rem(26);
            line-height: percentage(38/26);

            margin-bottom: to_rem(15);

            @include mobile-view() {
                font-size: to_rem(18);
                line-height: percentage(28/18);
                margin-bottom: to_rem(8.31);
            }
    
            &:last-child {
                margin-bottom: 0;
            }
        }
    
        &::after {
            content: '';
            background-color: #fff;
    
            display: block;
            height: 3px;
            width: 100%;
            
            margin-top: to_rem(44.5);

            @include mobile-view() {
                content: unset;
                display: none;
            }
        }
    }
}

.site-header {
    left: to_rem(0);
    top: to_rem(0);
    background: #fff;
    box-shadow: to_rem(0) to_rem(20) to_rem(60) rgba(0, 0, 0, 0.25);
    position: relative;
    z-index: 1000;

    @include mobile-view {
        .wrapper {
            display: flex;
        }
        .left-hand-side, .right-hand-side {
            width: auto;
            display: inline-block;
        }
    }

    &__logo {
        display: inline-block;
        margin: to_rem(25) 0 to_rem(54);
        
        @include mobile-view {
            margin: to_rem(8) 0 to_rem(13);
        }
        
    }

    &__menu {
        list-style: none;
        color: #8F1F3A;
        font-weight: 600;
        font-size: to_rem(34);
        padding: 0;
        margin: to_rem(45) 0 0;      

        @include mobile-view() {
            font-size: 20px;
            line-height: 35px;
            margin-top: to_rem(27);
            margin-left: to_rem(75);
        }
    }

    &__menu-item {
        display: inline-block;
        margin-right: to_rem(58);
        max-width: to_rem(163);

        @include mobile-view() {
            margin-right: to_rem(34);
        }

        &:last-child {
            margin-right: 0;
        }

        &::after {
            content: '';
            display:block;
            margin-top: 3px;
            height: to_rem(5);
            width: 100%;
            background-color: #1D71B8;
            opacity: 0;
            transition: all $transition-time linear;
        }
    }

    #show-menu:checked ~ * #show-menu-label {
        &::after {
            content: '';
            display:block;
            margin-top: 3px;
            height: to_rem(5);
            width: 100%;
            background-color: #1D71B8;
            opacity: 1;
            transition: all $transition-time linear;
        }
    }

    #show-contact:checked ~ * #show-contact-label {
        &::after {
            content: '';
            display:block;
            margin-top: 3px;
            height: to_rem(5);
            width: 100%;
            background-color: #1D71B8;
            opacity: 1;
            transition: all $transition-time linear;
        }
    }

    input[name=site-menu] {
        display: none;
    }

    input:checked ~ * .site-header__logo svg {
        width: to_rem(224);
        height: to_rem(305);
        transition: all $transition-time linear;

        @include mobile-view() {
            width: to_rem(45);
            height: to_rem(60);
        }
    }

    #show-none:checked ~ * .site-header__logo svg {
        width: 7.625rem;
        height: 10.375rem; 
        transition: all $transition-time linear;
        
        @include mobile-view() {
            width: to_rem(45);
            height: to_rem(60);
        }
    }

    &__page-menu {
        list-style: none;
        padding: 0;
        margin: to_rem(34) 0;

        @include mobile-view() {
            margin: to_rem(24) 0;
            margin-left: to_rem(-44);
        }

        li {
            padding: 0;
            display: block;
            margin-bottom: to_rem(20);

            @include mobile-view() {
                font-size: to_rem(20);
                line-height: 125%;
                margin-bottom: to_rem(15);
            }
        }
    }

    input:checked ~ * .site-header__page-menu {
        display: none;
        opacity: 0;
        transition: all $transition-time linear;
    }
    

    #show-menu:checked ~ * .site-header__page-menu {
        display: block;
        opacity: 1;
        transition: all $transition-time linear;
    }

    .page-link {
        font-weight: 600;
        font-size: to_rem(30);
        line-height: 133%;
        color: #3F2B4E;
        text-decoration: none;
        

        &--active {
            color: #AD2B51;
        }
    }

    .wrapper {
        position: relative;
        height: 100%;

        &::after {
            content: '';
            width: 0;
            height: 0;
            border-style: solid;
            border-width: 30px 30px 0 30px;
            border-color: #ffffff transparent transparent transparent;
            position: absolute;
            top: 100%;
            left: to_rem(-17);

            @include mobile-view() {
                border-width: 18px 18px 0 18px;
                left: to_rem(25);
            }
        }
    }

    input:checked ~ * #close-menu-label {
        opacity: 1;
        transition: all $transition-time linear;
    }

    #show-none:checked ~ * #close-menu-label { 
        opacity: 0;
        transition: all $transition-time linear;
    }
}


#social {
    $icon-height: 64;
    $band-height: 110;

    background-color: #EA4C84;
    box-shadow: to_rem(0) to_rem(20) to_rem(50) rgba(0, 0, 0, 0.25);
    position: relative;
    z-index: 1000;



    .social__links {
        list-style: none;
        padding: to_rem(($band-height - $icon-height)/2) 0;

        @include mobile-view() {
            padding: to_rem(5.76) 0 to_rem(8.49);
            display: flex;
            justify-content: center;
        }

        &__link {

            margin-right: to_rem(70);

            @include mobile-view() {
                margin-right: to_rem(21.13);
                img {
                    width: to_rem(34.76);
                    height: to_rem(34.76);
                }
            }

            &:last-child {
                margin-right: 0;
            }

            a {
                display: block;
            }
        }
    }
}

#footer {
    background-color: #474747;
    color: #FFFFFF;
    padding: to_rem(71) 0;

    @include mobile-view() {
        padding: to_rem(27) 0;
    }

    h3, h4 {
        margin: 0 0 to_rem(10);
        font-weight: bold;
        font-size: to_rem(18);
        line-height: 167%;

        @include mobile-view() {
            font-size: to_rem(12.2);
            line-height: 159%;
        }
    }

    ul, ol {
        list-style: none;
        margin: 0;
        padding: 0;
    }

    p, li {
        margin: 0 0 to_rem(10);
        font-weight: normal;
        font-size: to_rem(18);
        line-height: 167%;

        @include mobile-view() {
            font-size: to_rem(12.2);
            line-height: 159%;
        }

        &:last-of-type {
            margin-bottom: 0;
        }
    }

    a {
        font-weight: normal;
        color: #fff;
        text-decoration: none;
    }

    svg {
        margin-bottom: 38px;

        @include mobile-view() {
            margin: to_rem(23) auto to_rem(26);
            display: block;
        }
    }

    @include mobile-view() {
        .right-hand-side {
            h3, h4, li { 
                margin-bottom: 0;
            }
        }
    }

    #footer__terms {
        list-style: none;
        display: flex;
        margin: to_rem(64) 0 0;
        padding: 0;

        @include mobile-view() {
            flex-wrap: wrap;
            margin-top: to_rem(16);
        }

        li {
            margin-right: to_rem(64);
            width: 100%;

            &:last-of-type {
                margin-right: 0;
            }
        }


        
    }
}