---
layout: core
---

<article id="main-content">
    {%- capture article -%}
    <h1>{{ page.title }}</h1>

    {%- for resource in page.resources -%}
        {%- if forloop.first -%}<ul class="resources">{%- endif -%}
        <li><a href="{{ resource.path | relative_url }}">{{ resource.title }}</a></li>
        {%- if forloop.last -%}</ul>{%- endif -%}
    {%- endfor -%}

    {{ content }}
    {%- endcapture -%}

    {%- capture menu -%}
    {%- assign parents = page.parent | split: '/' -%}
    {%- assign current_section = parents | first -%}
    {%- assign root_page = site.pages | where: "section", current_section | first -%}
    <h2>{{ root_page.title }}</h2>

    {%- assign current_path = "" | split: '|' | push: current_section -%}
    

    {%- include page_menu.html current_path=current_path count=1 active_section=page.section -%}

    {%- endcapture -%}

    {%- include two_columns.html left_contents=article right_contents=menu -%}
</article>